<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <br>
    <form action="/listings/<%= list._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" required name="list[title]" value="<%= list.title %>" class="form-control">
       <div class="valid-feedback">
      Title Looks good!
    </div>
      </div>     

      <div class="mb-3"> 
        <label for="description" class="form-label">Description</label>
        <textarea name="list[description]" required class="form-control"><%= list.description %></textarea>
            <div class="invalid-feedback">
       Please enter a short description!!
    </div>
      </div>


      <div class="mb-3 ">
        OrigionalListing Image <br>
        <img src="<%= orginalImageUrl %>" >

      </div>


      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input type="file" name="list[image]"  class="form-control">
     
     </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input type="number" name="list[price]" required value="<%= list.price %>" class="form-control">
        <div class="invalid-feedback">
       Please enter a valid Price!!
    </div>
        </div>

        <div class="mb-3 col-8">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="list[country]"  required value="<%= list.country %>" class="form-control">
        </div>
         <div class="invalid-feedback">
         Country name  should be valid !!
    </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="list[location]"  required value="<%= list.location %>" class="form-control">
        <div class="invalid-feedback">
      Location should be valid !!
    </div>
      </div>

      
     <button type="submit" class="btn btn-dark btn-edit mb-5">Edit</button>
      
    </form>
  </div>
</div>
